__pycache__/
*.py[cod]
*.egg-info/
pyrightconfig.json
data/**
!data/
!data/.gitkeep
!data/original/
!data/original/.gitkeep
!data/original/ravdess/
!data/original/ravdess/.gitkeep
!data/preprocessed/
!data/preprocessed/.gitkeep
models/**
!models/
!models/.gitkeep
to_predict/**
!to_predict/
!to_predict/.gitkeep
.DS_Store
.pytest_cache/
.ruff_cache/
.venv/
TASKS.md
legacy/**

